.App {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #212121;
  color: #ffffff;
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* overflow-x: hidden; */
}

img {
  width: 15%;
}

#top_text {
  padding-top: 2em;
}

#middle_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#middle_text > .btn {
  background-color: white;
  border-radius: 20px;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-right: 0.8em;
  padding-left: 0.8em;
}

#middle_text > .btn > p {
  font-weight: bold;
  color: black;
  text-align: center;
}

#bottom_text {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1em;
  font-size: 0.8em;
  font-weight: 200;
}

#bottom_text > p {
  margin: 0.2em;
}

.hover:hover {
  cursor: pointer;
}

.tkn_rslt > div {
  background-color: #121415;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

.tkn_rslt > div > p {
  padding: 0.2em;
}

.copied {
  font-weight: 200;
  font-style: italic;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
